@model RegisterViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/Account/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Account/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Account/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Account/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Account/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form method="POST">
                        <div class="text-danger" asp-validation-summary=ModelOnly></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Fullname">Fullname</label>
                                    <input class="form-control" placeholder="Fullname" asp-for="Fullname">
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Username">Username</label>
                                    <input class="form-control" placeholder="Username" asp-for="Username">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input class="form-control" placeholder="Email" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input class="form-control" placeholder="Password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                    <input class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                            <div class="text-center mt-4 font-weight-light">
                                Already have an account? <a asp-action="Login" class="text-primary">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/Account/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Account/vendor/select2/select2.min.js"></script>
    <script src="~/Account/vendor/datepicker/moment.min.js"></script>
    <script src="~/Account/vendor/datepicker/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main JS-->
    <script src="~/Account/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
<style>
    .btn{
        color: black;
    }
</style>