<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>
        click here to reset password 
    </h4>
    <a>https://localhost:5001/Account/ResetPassword?email=a@code.az&token=CfDJ8Lm-cvM8FuJEkBN32uVg1t3CcvBsSIrj_w4SjDvh7d4CJywkoF4dRNRw4s8LrcvrvI5pvAuZd2OdlFTFxl1k3dYd60SGa1Qe2MTSxKD9BHXYV_qT-j9DPLcQGXXx4zA2GU0vFNKy55weBmHK8tnEhvrEM3w1u7pMmJikydAt9dcjEuD_6lrWpowBq2krTYnm1QugOUQu6Dm9B_vTLnT8QlpTv5-2Q2vsew6oRHPpGPxQZ0c33e6AFLIjE7FzEKx5QSdICoQT58VDe88KZeihiz69pSb708z9XWbLXeVVv-xbrn8T_imN-eLYaMAVy5QlvZoB1p82fr2sWFsl-DrqgDYyqx2nWuhgToFGgip4DjtJjsFaaOuZ-zeJVg8m0P6xBxDj-GEpAlRRLfUadq8Jvek1zUs8wLbwXWMTSfQxJmVw1A1VWEdXNduelzDKcAnHj5wYmw5FIj0mahH7leUESTQDEVGKt__q3WngF5UN152bleZD1ohi2t5fnn7F2BScKiqk0O1dJDKyh6goEaKOYJpV4LrBW-acfseRx2Ud0ihV_c2_3uYpuc-exk3AjOw95p05pkQp9cFEsnFa8wfl3IXFi-79uth1QzKo-N0QZBpNqLcAv6-wZy-8WTgWfYyqXUG0VNySbyrnguyv6DArANq5-fEr6FyX43RmkR6kug8edflso3whjpdFrSjcX7ZCkY18mwhauqv8sCovMn0tYv0</a>
</body>
</html>